In [ ]:
value=10
print(type(value))
value=[10]
print(type(value))
value=()
print(type(value))
value=(10)
print(type(value))
value=(10,) 
print(type(value))
value=10,20,30 # tuple # Note: use comma operator to create a tuple
# using () is optional for tuple!!
print(type(value))
value={}
print(type(value))
value={10:"sachin"}
print(type(value))
value={10}
print(type(value))
value=set()
print(type(value))

In [ ]:
print(dir(dict))

In [ ]:
cricketers={10:"sachin",7:"dhoni",18:"virat",45:"rohit"}
print(cricketers)
print(cricketers.get(10),cricketers[10])
print(cricketers.get(333))
try:
    print(cricketers[333])
except KeyError:
    print("Key is not present!")
    
cricketers[333]="Gayle" # Note: add a key which is not present then key and value both get added!
cricketers[10]="sehwag" # Note: if key is already present then value gets update!
print(cricketers)

mycricketers={"shane":23,"murli":800}
print(mycricketers)
cricketers.update(mycricketers)
print(cricketers)
print(mycricketers)
mycricketers=cricketers.copy()
cricketers.clear()
print(cricketers)
print(mycricketers)
print("Poped cricketer is ",mycricketers.pop(10))
player,jersey=mycricketers.popitem()
print(f"Poped cricketer is {player} with {jersey} jersey!")
print(mycricketers)
print(mycricketers.keys()) # list of only keys!
print(mycricketers.values())
print(mycricketers.items()) # Note: items will return list of tuples [(key1:value1),(key2:value2)...]

In [ ]:
players=["sachin","dhoni","sehwag","virat"]
cricketers=dict.fromkeys(players)
print(cricketers)
cricketers["sachin"]=10
cricketers["dhoni"]=7
cricketers["sehwag"]=99
cricketers["virat"]=18
cricketers.setdefault("gayle",333)
cricketers.setdefault("virat",999)
print(cricketers)

In [ ]:
sensex={"hdfc":{"current":1000,"low":900,"high":1200},
        "accenture":{"current":900,"low":700,"high":1500},
        "sun pharma":{"current":90,"low":40,"high":150},
        "olectra":{"current":5000,"low":500,"high":7000}
        }
print("Todays sensex for olectra is ",sensex["olectra"],type(sensex))
print("Todays high price for accenture is ",sensex["accenture"]["high"],type(sensex))

In [ ]:
# set is unordered mutable collection of unique heterogeous elements
# The elements that you add within set have to be immutable but set is mutable!
# set can only contain int/float/str/bool/complex/None/tuple (immtubale elements)
# set cannot contain dict/list/set (mutable elements)

In [ ]:
myset={10,5.6,"india",True,(10+4j),None,(100,200,400),10,10}
print(myset,type(myset))
print(dir(set))
myset.add("wipro")
print(myset)

In [ ]:
list1=[10,20,30,10,20,30,40,50]
print(list1)
set1=set(list1)
print(set1)
list1=list(set1)
print(list1)

In [ ]:
companies={"tcs","wipro","techm"}
print(companies,id(companies))
companies.add("renishaw")
companies.add("john deere")
print(companies)
companies.remove("techm")
companies.discard("renishaw")
try:
    companies.remove("ibm")
except:
    print("Value is not there in set!!!")
companies.discard("mastercard")
print(companies,id(companies))
print("Poped company is ",companies.pop())

for company in companies:
    print(company)
    
itcompanies={"cognizant","bv","hcl","dassault systemes","eaton"}
companies.update(itcompanies)
print(companies)

In [ ]:
print(dir(set))

In [ ]:
indian={"virat","rohit","bumrah","hardik","ashwin","shami"}
australia={"smith","pat cummins","maxwell","starc","mcgrath","warne"}
westindies={"pollard","bravo","gayle","russel","marshall"}
Batters={"virat","rohit","hardik","smith","maxwell","pollard","gayle","russel"}
cricketers={"virat","rohit","bumrah","hardik","ashwin","shami",
           "smith","pat cummins","maxwell","starc","mcgrath","warne",
            "pollard","bravo","gayle","russel","marshall"
           }
print(cricketers.issuperset(indian))
print(indian.issubset(cricketers))
print(indian.isdisjoint(australia))
print(indian.isdisjoint(cricketers))
print("Indian batters are ",indian.intersection(Batters))
print(indian.union(australia).union(westindies)==cricketers)
print("Indian bowlers are ",indian.difference(Batters))
print("collection without indian batters are ",indian.symmetric_difference(Batters))

In [ ]:
# control statements
# 1. sequential
# 2. conditional
     #(a) selection (branching)
      # if: else: elif: 
     #(b) iteration (looping)
      # while: for: 
# 3. unconditional 
     # break continue

In [ ]:
# note: () == : and {} == indent/outdent code!
#if condition:
    #print("inside if")
#print("outside if")

In [ ]:
var1,var2=100,200
# relational operators  > < >= <= == !=
"""
if var1 > var2:
    print(f"{var1} is greater")
else:
    print(f"{var2} is greater")
"""
print(f"max is {max(var1,var2)}")

In [ ]:
#var1,var2,var3=100,200,300
# logical operator and or 
var1=int(input("Enter first value "))
var2=int(input("Enter second value "))
var3=int(input("Enter thrid value "))
if var1 > var2 and var1 > var3 :
    print(f"{var1} is greater")
elif var2 > var1 and var2 > var3:
    print(f"{var2} is greater")
else:
    print(f"{var3} is greater")
print(f"max is {max(var1,var2,var3)}")

In [ ]:
var1,var2,var3=3,3,3
if var1 == var2 == and var2==var3 :
    print(f"{var1} is equal")

In [ ]:
# any(collection) all(collection)
if 10 < 30 and  100 > 50 and 500 > 100:
    print("and requires all conditions to be True")
if all({10 < 30,100 > 50,500 > 100}):
    print("and requires all conditions to be True")
if 10 < 30 or 100 > 500 or 500 > 100:
    print("or requires one conditions to be True")
if any({10 < 30,100 > 50,500 > 100}):
    print("or requires one conditions to be True")

In [ ]:
var1,var2,var3=10,20,30

if var1 > var2:
    if var1 > var3:
        print(f" {var1} is greater")
    else:
        print(f" {var3} is greater")
else:
    if var2 > var3:
        print(f"{var2} is greater")
    else:
        print(f"{var3} is greater")
print(f"max is {max(var1,var2,var3)}")

In [ ]:
# identity operator is / is not (datatypes)
# membership operator in / not in (values)

employees=("hemant","govind")
emp_ids=[100,200,300]
if type(employees) is tuple:
    print("You are using tuple")
if type(emp_ids) is not tuple:
    print("You are not using tuple for sure!")

In [ ]:
# search value in collection 
admin_users=["root","admin","adminstrator"]
username=input("Enter user name ")
if username in admin_users:
    print("You have admin privileges!")
else:
    print("You have guest privileges")

In [ ]:
versions=[3.6,3.7,3.8,3.9]
current_version=float(input("Enter your version "))
if current_version in versions:
    print("You can use f-strings")
else:
    print("Use str.format()")

In [ ]:
import math
num=int(input("Enter the number "))
"""
fact=1
while num > 0:
    fact*=num
    num-=1
print("factorial is ",fact)
"""
print("factorial is ",math.factorial(num)) # pythonic way use functions!!!

In [ ]:
import sympy

num=int(input("Enter the number "))
"""
i=2
while num > i:
    if num % i == 0:
        print("Not Prime number")
        break
    i+=1
if num==i:
    print("prime")
"""
if sympy.isprime(num):
    print("prime")
else:
    print("Not prime")

In [18]:
list1=[10,20,30,40,50]
for item in list1: 
    print(item,end=" ")
print(" ")
tuple1=(10,20,30,40,50)
for item in tuple1:
    print(item,end=" ")
print(" ")
set1={10,20,30,40,50}
for item in set1:
    print(item,end=" ")
print(" ")
states={"karnataka":"bengaluru","maharastra":"mumbai","tamilnadu":"chennai"}
for city in states: # only keys
    print(city,end=" ")
print(" ")  
for city in states.keys(): # only keys
    print(city,end=" ")
print(" ")
for city in states: # only values
    print(states[city],end=" ")
print(" ")
for city in states.values(): # only values
    print(city,end=" ")
print(" ")
print(states.items())
for city in states.items(): # [("karnataka","bengaluru")...]
    print(f"{city[1]} is in {city[0]}") # unpacked tuple
print(" ")
for state,city in states.items(): # [("karnataka","bengaluru")...]
    print(f"{city} is in {state} state") # unpacked tuple

10 20 30 40 50
10 20 30 40 50
50 20 40 10 30
karnataka maharastra tamilnadu
karnataka maharastra tamilnadu
bengaluru mumbai chennai
bengaluru mumbai chennai
dict_items([('karnataka', 'bengaluru'), ('maharastra', 'mumbai'), ('tamilnadu', 'chennai')])
bengaluru is in karnataka
mumbai is in maharastra
chennai is in tamilnadu

bengaluru is in karnataka state
mumbai is in maharastra state
chennai is in tamilnadu state

In [32]:
list1=[10,20,30,40,50]
"""
index=0
for item in list1:
    print(index,item)
    index+=1
"""
print(enumerate(list1))

# Note: There are 3 ways to access values from generator 
# 1. use conversion function to check the values in generator
print(list(enumerate(list1))) 
print(tuple(enumerate(list1))) 
print(set(enumerate(list1))) 
print(" ")
# 2. use for loop to access all values from generator
for record in enumerate(list1):
    print(record[0],record[1])
print(" ")
for index,value in enumerate(list1):
    print(index,value)
print(" ")
# 3. use next() to access one value from generator every time
ref=enumerate(list1)
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))

<enumerate object at 0x000001B631609400>
[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]
((0, 10), (1, 20), (2, 30), (3, 40), (4, 50))
{(3, 40), (0, 10), (1, 20), (4, 50), (2, 30)}

0 10
1 20
2 30
3 40
4 50

0 10
1 20
2 30
3 40
4 50

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)

StopIteration:

In [48]:
print(range(6)) # note: range() is a builtin generator in python

print(list(range(6)))
print(tuple(range(6)))
print(set(range(6)))

for item in range(6):
    print(item,end=" ")
print(" ")
ref=iter(range(6))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
# for loop and next (iterators) work on iterables(collections) as well as generators both!!!

range(0, 6)
[0, 1, 2, 3, 4, 5]
(0, 1, 2, 3, 4, 5)
{0, 1, 2, 3, 4, 5}
0 1 2 3 4 5
0
1
2
3

In [40]:
list1=[10,20,30,40,50]

for item in list1:
    print(item,end=" ")
print(" ")
for item in range(10,51,10): # (start:next_to_last:step_count)
    print(item,end=" ")

10 20 30 40 50
10 20 30 40 50

In [44]:
for item in range(5,16,2):
    print(item,end=" ")

5 7 9 11 13 15

In [53]:
list1=[10,20,30,40,50]

for item in range(len(list1)): # C style 
    print(item,list1[item])
    
for index,item in enumerate(list1): # pythonic way
    print(index,item)

0 10
1 20
2 30
3 40
4 50
0 10
1 20
2 30
3 40
4 50

In [2]:
restaurants=[
                {"name":"barometer","address":"kothrud"},
                {"name":"abc farms","address":"kalyani nagar"},
                {"name":"good luck","address":"deccan"},
                {"name":"prithvi","address":"kothrud"},
                {"name":"abhishek veg","address":"kothrud"}
            ]

current_location=input("Enter your current location ")

#resto_nearby=[]
#for resto in restaurants:
    #print(resto,type(resto),type(restaurants))
    #if current_location == resto["address"]:
        #resto_nearby.append(resto["name"])
resto_nearby=[resto["name"] for resto in restaurants if current_location == resto["address"]]
if any(resto_nearby):
    print(resto_nearby)
else:
    print("Kindly try a different location!")

Enter your current location kothrud
['barometer', 'prithvi', 'abhishek veg']