In [ ]:
string="python is beautiful"
print(string.isalpha())
print(string.islower())
print(string.isupper())
print(string.isdigit())

In [ ]:
string="python is easy and simple"
print(string.ljust(100))
print(string.rjust(100))
print(string.center(100))
print(string.upper())
print(string.title())
print(string.capitalize())
print(string.lower())
print(string.casefold())
print(string.swapcase())

In [ ]:
string="          python           "
string=string.strip()
print(string)
string="python is python"
print(string.lstrip("python"))
print(string.rstrip("python"))
print(string.strip("python"))

In [ ]:
price="Rs 13,599.99/-"
price=price.strip("Rs").strip("/-")
print(price)
price=price.replace(",","")
print(price,type(price))
price=float(price)
print(price,type(price))

In [ ]:
date="20-Jun-2023"
parse_date=date.split("-")
print("Day is ",parse_date[0])
print("Month is ",parse_date[1])
print("Year is ",parse_date[2])

In [ ]:
email="devadatta@gmail.com"
parse_email=email.split("@")
print("User name is ",parse_email[0])
print("Domain is ",parse_email[1])

In [ ]:
company=['g','o','o','g','l','e']
print("".join(company))
print("\t".join(company))
print(",".join(company))

In [ ]:
fact="python supports multiple varible assigments\
e.g. product,price,quantity=mobile,50000,3 python\
e.g. company,employee=vinsys,deva python"
print(fact.find("p"))
print(fact.find("p",3))
print(fact.index("e.g."))
print(fact.index("e.g.",46))
print(fact.find("ansible"))
try:
    print(fact.index("ansible"))
except ValueError as errmsg:
    print(errmsg)
print(fact.count('python'))
print(len(fact))

In [ ]:
string="python"
print(string)
#del string[0] #  'str' object doesn't support item deletion
string[0]="P" # 'str' object does not support item assignment

In [ ]:
network_id="192.168"
host_id="10.5"
ip_address=network_id+"."+host_id # Traditional way
print(ip_address)
ip_address=f"{network_id}.{host_id}" # pythonic way 
print(ip_address)

In [ ]:
# collections (data structures)
# list [] tuple () dictionary {key:value} set {}
# list is mutable collection of heteregeous elements

mylist=["sachin",10,"india",78.45,True,(6+10j)]
print(mylist,type(mylist))
print("Player is ",mylist[0]) # first way to unpack values using index slicing operator
print("Jersey is ",mylist[1])
player,jersey,country,average,retired,number=mylist
print("Player is ",player) # 
print("Jersey is ",jersey)

In [ ]:
print(dir(list))

In [ ]:
banks=["axis","icici","kotak"]
print(banks,id(banks))
banks[0]="dena bank"
print(banks,id(banks))
del banks[-1]
print(banks,id(banks))

In [ ]:
banks=["axis","icici","kotak"]
print(id(banks))
banks.append("yes bank")
banks.append("bob")
print(banks)
banks.insert(0,"sbi")
banks.insert(3,"idbi")
print(banks)
newbanks=["dueshe","pnb","psb"]
banks.append(newbanks) # will create list of lists
print(banks)
print(banks[7])
print(banks[7][0],id(banks))
#print(id(banks[7]))
#copy_banks=banks # shallow copy 
copy_banks=banks.copy() # deep copy
copy_banks.clear()
print(copy_banks,id(copy_banks))
print(banks,id(banks))

In [ ]:
numbers=[1,2,3,4,5]
newnumbers=[7,8,9,10]
numbers.append(newnumbers)
print(numbers)
del numbers[-1]
print(numbers)

In [ ]:
# In python function returns None by default!
banks=["axis","icici","kotak"]
print(banks)
banks[1]="sbi"  # using index slicing operator # update operation
banks.append("idbi") 
print(banks)
print(banks.pop()) # pop returns poped element
print(banks)
banks.remove("sbi") # remove returns None 
print(banks)
print(banks.pop(0)) 
print(banks)
del banks[0]
print(banks)

In [ ]:
print(help(list.pop))

In [ ]:
banks=["axis","icici","kotak","axis","axis"]
print(banks.count("axis"))
print("Total number of banks",len(banks))
print(banks.index("axis"))
print(banks.index("axis",1))
print(banks.index("axis",4))
print(banks)
#banks.sort()
#banks.sort(reverse=True)
banks.reverse() # prints elements in reverse order!
print(banks)

In [ ]:
banks=("axis","icici","kotak")
print(banks,id(banks))
#banks[0]="dena bank" # 'tuple' object does not support item assignment
#del banks[-1] # 'tuple' object doesn't support item deletion
print(banks,id(banks))
mybanks=banks
print(mybanks,id(banks))

In [ ]:
print(dir(tuple))

In [ ]:
nse=("techmahindra","20-jun-2023",800.99,100)
print("company=",nse[0])
print("date=",nse[1])
print("price=",nse[2])
print("shares=",nse[3])

company,date,price,shares=nse
print("company=",company)
print("date=",date)
print("price=",price)
print("shares=",shares)

print("using for.....")
print(nse)
for record in nse: # unpacking using for loop
    print(record)

In [ ]:
nse=[["accenture",1000,567.45],["ibm",2000,1800.99],["olectra",3000,899.67]]
print(nse)
print("Total number of records ",len(nse))
print("First record is", nse[0])
print("Last record is", nse[-1])
print("Price of olectra is ",nse[-1][-1],nse[2][2])
nse.append(["capgemini",4000,1234.45])
nse.insert(1,["wipro",6000,99999.45])
print(nse)
nse[1][0]="infosys" # update record
print(nse)
nse.pop(3)
print(nse)

In [ ]:
nse=[("accenture",1000,567.45),("ibm",2000,1800.99),["olectra",3000,899.67]]
#del nse[0]
#print(nse)
#del nse[0][0] # 'tuple' object doesn't support item deletion
#nse[1][0]="vodafone"
print(nse)

In [ ]:
# list of list # create / update / delete / read
# list of tuples # create / read / delete but update is not possible for record 
# tuple of list # update record but update database not possible  # insert/ delete not possible
# tuple of tuple # only read possible

In [ ]:
nse=(["accenture",1000,567.45],["ibm",2000,1800.99],["olectra",3000,899.67])
del nse[0][0]
print(nse)
nse[2].append("20-Jun-2023")
print(nse)

In [4]:
players=["sachin","sehwag","virat","rohit"]
print(players,id(players))
players.remove("sachin")
print(players,id(players))
print(players[0])

['sachin', 'sehwag', 'virat', 'rohit'] 3139027387904
['sehwag', 'virat', 'rohit'] 3139027387904
sehwag